$bg-color: #6ab7f5;
$main-font-color: #3a444d;
$secondary-font-color: #aaa;

//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, $bg-color, #fff);
    min-height: 100vh;
    
    main {
        display: inline-block;
        margin-top: 2%;
        padding: 15px;
        position: relative;
    }

    form {
        position: absolute;
        width: 65%;
        top: 65%;
        left: 13.5% ;
    }
}

.zukan {
    width: 100%;
    max-width: 425px;
}

.pokemon-img {
    position: absolute;
    left: 50%;
    bottom: 55%;
    transform: translate(-50%, 20%);
    height: 18%;
}

.pokemon-data {
    position: absolute;
    color: $secondary-font-color;
    font-weight: 600;
    top: 54%;
    right: 27%;
    font-size: clamp(8px, 5vw, 25px);
}

#pokemon__name {
    color: $main-font-color;
    text-transform: capitalize;
}

.input-search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: $main-font-color;
    font-size: clamp(8px, 5vw, 15px);
    box-shadow: -2px 3px 0 #888, -4px 5px 0 #333;
}

.buttons {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 65%;
    transform: translateX(-57%);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    background-color: #444;
    font-size: clamp(8px, 5vw, 15px);
    box-shadow: -2px 3px 0 #222, -4px 5px 0 #000;
}

.button:active {
    box-shadow: inset -2px 2px 0 #222;
    font-size: 0.9rem;
    transform: translate(-4px, 5px);
}